/* Write your CSS here */
.cart-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .d-sm-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .d-lg-none {
    display: none;
  }
}
